@font-face {
  font-family: clock;
  src: url(src/assets/fonts/clock.ttf);
}

.click-animation {
  opacity: 1;
  transition: 0.25s all;
}

.click-animation:active {
  opacity: 0.3;
}

body {
  background-color: #212121;
  padding: 0px;
  margin: 0px;
}

@media (orientation: landscape) {
  .portrait {
    display: none;
  }
}

@media (orientation: portrait) {
  .landscape {
    display: none;
  }
}
