.logo {
  left: 30vw;
  position: absolute;
  top: 5vw;
  width: 40vw;
  z-index: 1;
}

.mestre {
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 100vw;
}

.background,
.background2 {
  background-color: #212121;
  height: 100vh;
  opacity: 0.9;
  position: absolute;
  width: 100vw;
}

.background2 {
  background-color: #000000;
  opacity: 0.6;
}

.background-timer {
  background-color: red;
  bottom: 0px;
  height: 0vh;
  left: 0px;
  position: absolute;
  transition: 0s all linear;
  width: 100vw;
}

.separator {
  height: 50vw;
  position: relative;
  width: 100vw;
}

.button-group {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  font-size: 13vw;
  height: 20vw;
  left: 5vw;
  line-height: 22vw;
  margin-bottom: 20vw;
  opacity: 0.9;
  position: relative;
  text-align: center;
  top: 10vw;
  transition: all 0.5s;
  width: 90vw;
}

.opacity {
  margin-bottom: 0vw;
  opacity: 0;
}

.none {
  display: none;
}

.label {
  background-color: #212121;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  height: 40%;
  left: 10%;
  line-height: 8vw;
  position: absolute;
  top: -40%;
  width: 80%;
}

.side {
  background-color: #21212134;
  float: left;
  height: 100%;
  line-height: 0vw;
  position: relative;
  width: 25%;
}

.side img {
  left: calc(50% - 5vw);
  position: absolute;
  top: calc(50% - 5vw);
  width: 10vw;
}

.center {
  background-color: #fff;
  float: left;
  font-family: 'clock';
  height: 100%;
  width: 50%;
}
